*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    min-width: 320px;
    min-height: 100%;
    font-family: 'PTSans', sans-serif;
    font-size: 16px;
    line-height: 120%;
}

body{
    margin: 0 auto;
    padding: 0;
    font-family: 'Inter', sans-serif;
}  

h1, h2, h3, h4 {
    margin: 0;
    font-weight: normal;
    font-size: unset;
    line-height: 120%;
}

p, span, a {
    line-height: 120%
}

img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

ul {
    list-style: none;
}